<!DOCTYPE HTML>

 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-98592252-5', 'auto');
  ga('send', 'pageview');

</script>

<html>
	<head>
		<title>Palitra</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Palitra</h1>
							<p>Palitra (from Russian: palette) is a project created by <a href="https://github.com/denisolt">Deni Shakhbulatov</a> that lets you upload the picture and displays the color pallete of it. 
									The colors that appear the most will be displayed. The program uses Flask, Scipy, Pillow and Numpy, if you are curious how it works, check <a href="https://github.com/Denisolt/Palitra">the Github repo.</a> Supported formats: png, jpeg, jpg.</br> Enjoy!</p>

							<ul class="actions vertical">
								<li><form method=post enctype=multipart/form-data>
									    <form method=post enctype=multipart/form-data>
									      	   <input type=file name=file style="" class="button big wide smooth-scroll-middle">
									      	   </li>
									      <li>	<p><input type=submit value=Upload class="button big wide smooth-scroll-middle" ></p>
									    </form></li>
									    <section class="panel color1";>
								<div class="intro joined";>
								{% for i in x %}
									<div class="shape">
										<style contenteditable>
							#circle {
								width: 50px;
								height: 50px;
								background: #{{i}};
								-moz-border-radius: 50px;
								-webkit-border-radius: 50px;
								border-radius: 50px;
							}
/* Cleaner, but slightly less support: use "50%" as value */
							</style>
						<div>
							<div id="circle" style="background-color: {{i}}">  
								<ul> 
								<p>{{i}}</p>
								</ul>
							</div>
						</div>
									{% endfor %}
								</div>
												</div>

							</section>
							</ul>
						</div>
						<div class="image">
							{% if uploadingimage %}
							<img src="data:image/png;base64, {{uploadingimage}} " height="90%" />
							{% endif %}
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>